* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, rgb(216, 0, 0), rgb(255, 113, 113));
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 1.5vw;
  width: 50%;
}

article {
  height: fit-content;
  box-shadow: 10px 10px 5px rgb(82, 82, 82);
  width: 45vw;
  background-color: antiquewhite;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.content::-webkit-scrollbar {
  display: none;
}

aside {
  padding: 10px 0 0 10px;
  width: 35%;
  display: flex;
}

section {
  padding-top: 10px;
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.QA-container {
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(119, 119, 119);
  background-color: red;
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button {
  font-size: 200%;
  background-color: red;
}

.buttonCont {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.collapsible {
  cursor: pointer;
}

.active:hover,
.collapsible:hover {
  font-weight: bold;
}

.collapsible:after {
  content: "\002B";
}

.active:after {
  content: "\2212";
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
